.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
	background: rgba(0, 0, 0, 0.75);
}

.modal {
	position: fixed;
	top: 30vh;
	left: 10%;
	width: 80%;
	z-index: 100;
	overflow: hidden;
	min-width: 400px;
	min-height: 180px;
	background-color: rgb(245, 245, 245);
	border-radius: 5px;
	padding-top: 40px;
	padding-bottom: 20px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 650px) {
    .modal{
        min-width: 200px;
    }
}

.header {
	background: rgb(92, 173, 92);
	padding: 1rem;
}

.header h2 {
	margin: 0;
	color: white;
}

.content {
	padding: 1rem;
}

.actions {
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
}
